
<div>
    <form method="post" action="/user/login">
        <input name="email" placeholder="Email">
        <input name="password" placeholder="Password" type="password">
        <button type="submit">Submit</button>
    </form>
</div>