<div>
    <form method="post" action="/user/register">
        <input name="email" placeholder="Email">
        <input name="password" placeholder="Password" type="password">
        <input name="confirm_password" placeholder="Confirm password" type="password">
        <button type="submit">Submit</button>
    </form>
</div>