@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap");

.fade-enter-active {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; /* WebKit */
    -moz-transition: all 0.3s ease; /* Mozilla */
    -o-transition: all 0.3s ease; /* Opera */
    -ms-transition: all 0.3s ease; /* Internet Explorer */
}
.fade-leave-active {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease; /* WebKit */
    -moz-transition: all 0.3s ease; /* Mozilla */
    -o-transition: all 0.3s ease; /* Opera */
    -ms-transition: all 0.3s ease; /* Internet Explorer */
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.ipt {
    @apply mt-1 outline-none block w-full p-2 border shadow-sm border-gray-300 rounded-md text-sm focus:ring-fysio-header focus:border-fysio-header;
}
