<div class="flex mb-10">
    <h1 style="color: #00b4d8; font-family: 'Source Sans Pro', sans-serif" class="text-2xl font-bold">Dashboard</h1>
</div>
<div class="p-0 font-inter w-full z-10 grid grid-cols-3 gap-6" style="font-family: 'Roboto', sans-serif">
    <div class="bg-white flex rounded-lg shadow p-6" style="color: #00b4d8">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="42"
            height="42"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            style="border-color: #00b4d8"
            class="feather feather-users my-auto text-2xl border rounded-full p-2"
        >
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
        </svg>
        <div class="flex justify-center w-full">
            <div class="mx-5" style="color: #00b4d8">
                <p class="font-semibold text-center text-xl">20</p>
                <h1>Total Patients</h1>
            </div>
        </div>
        <div class="my-auto ml-5" style="color: #00b4d8">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="border-color: #00b4d8"
                class="feather feather-bar-chart"
            >
                <line x1="12" y1="20" x2="12" y2="10" />
                <line x1="18" y1="20" x2="18" y2="4" />
                <line x1="6" y1="20" x2="6" y2="16" />
            </svg>
        </div>
    </div>
    <div class="bg-white flex rounded-lg shadow p-6" style="color: #00b4d8">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="42"
            height="42"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            style="border-color: #00b4d8"
            stroke-linejoin="round"
            class="feather feather-users my-auto text-2xl border rounded-full p-2"
        >
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
        </svg>
        <div class="flex justify-center w-full" style="color: #00b4d8">
            <div class="mx-5">
                <p class="font-semibold text-center text-xl">20</p>
                <h1>Total Patients</h1>
            </div>
        </div>
        <div class="my-auto ml-5" style="color: #00b4d8">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                style="border-color: #00b4d8"
                stroke-linejoin="round"
                class="feather feather-bar-chart"
            >
                <line x1="12" y1="20" x2="12" y2="10" />
                <line x1="18" y1="20" x2="18" y2="4" />
                <line x1="6" y1="20" x2="6" y2="16" />
            </svg>
        </div>
    </div>
    <div class="bg-white flex rounded-lg shadow p-6" style="color: #00b4d8">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="42"
            height="42"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            style="border-color: #00b4d8"
            stroke-linejoin="round"
            class="feather feather-users my-auto text-2xl border rounded-full p-2"
        >
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M23 21v-2a4 4 0 0 0-3-3.87" />
            <path d="M16 3.13a4 4 0 0 1 0 7.75" />
        </svg>
        <div class="flex justify-center w-full" style="color: #00b4d8">
            <div class="mx-5">
                <p class="font-semibold text-center text-xl">20</p>
                <h1>Total Patients</h1>
            </div>
        </div>
        <div class="my-auto ml-5" style="color: #00b4d8">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-bar-chart"
            >
                <line x1="12" y1="20" x2="12" y2="10" />
                <line x1="18" y1="20" x2="18" y2="4" />
                <line x1="6" y1="20" x2="6" y2="16" />
            </svg>
        </div>
    </div>
</div>
<div class="grid grid-cols-2 gap-4" style="font-family: 'Roboto', sans-serif">
    <div class="mt-8 shadow w-full">
        <div class="bg-gray-100" style="color: #00b4d8; background-color: #caf0f8; font-family: 'Source Sans Pro', sans-serif">
            <p class="uppercase font-bold text-sm my-auto p-2">Patient graph</p>
        </div>
        <canvas class="rounded-lg p-4" id="myChart" style="width: 100%; max-width: 900px"></canvas>
    </div>
    <div class="mt-8 shadow w-full">
        <div class="bg-gray-100" style="color: #00b4d8; background-color: #caf0f8; font-family: 'Source Sans Pro', sans-serif">
            <p class="uppercase font-bold text-sm my-auto p-2">Patient graph</p>
        </div>
        <canvas class="rounded-lg p-4" id="myChart2" style="width: 100%; max-width: 900px"></canvas>
    </div>
</div>
<div class="flex justify-center mt-5 pb-6">
    <button value="Create" type="submit" class="bg-fysio-header hover:bg-blue-600 rounded-lg text-white p-2 text-center font-bold w-full">
        Add patient
    </button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    var xValues = [50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150];
    var yValues = [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [
                {
                    fill: false,
                    lineTension: 0,
                    backgroundColor: "rgba(0,0,255,1.0)",
                    borderColor: "rgba(0,0,255,0.1)",
                    data: yValues,
                },
            ],
        },
        options: {
            legend: { display: false },
            scales: {
                yAxes: [{ ticks: { min: 6, max: 16 } }],
            },
        },
    });

    var xValues2 = ["Italy", "France", "Spain", "USA", "Argentina"];
    var yValues2 = [55, 49, 44, 24, 15];
    var barColors = ["#b91d47", "#00aba9", "#2b5797", "#e8c3b9", "#1e7145"];

    new Chart("myChart2", {
        type: "pie",
        data: {
            labels: xValues2,
            datasets: [
                {
                    backgroundColor: barColors,
                    data: yValues2,
                },
            ],
        },
        options: {
            title: {
                display: true,
                text: "Countries of patients",
            },
        },
    });
</script>
